@media(max-width: 1160px) {
    .main {
        grid:    
        "post-1  post-1 post-2"
        "post-4 post-5 post-5"
        "post-3 post-3 post-3";
        margin-top: 20px;
        height: 100%;
    }

    .main .post.post-3 {
        width: 830px;
    }

}

@media(max-width: 890px) {
    .main {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 20px;
    }

    .main .post {
        max-width: 260px;
    }
}